---
permalink: "/deep-search/"
---

<html>
{% assign label = site.medievalfragments | map: "label" | compact %}
{% assign labels = labels | join: ';'  | split: ';'  | uniq | sort %}

{% assign worktype = site.medievalfragments | map: "worktype" | compact %}
{% assign worktypes = worktypes | join: ';'  | split: ';'  | uniq | sort %}
 
<form role="search">
<div class="search-control" style="display:none;">
    <input type="search" id="person-serarch" name="query"
           placeholder="Keyword Search"
           aria-label="Search works using keyword">
    <input type="search" id="label-search" name="title"
           placeholder="Search Title"
           aria-label="Search people using title">
    <select id="titleselect" name="title"
      aria-label="Dropdown for workstype">
        <option value="">All labels</option>
        {% for label in labels %}
          {% if label != '' %}
          <option value="{{label}}">{{label}}</option>
          {% endif %}
        {% endfor %}
    </select>
    <select multiple="multiple" size="10" id="worktypeSelect" name="worktype"
      aria-label="worktype search">
      <optgroup label="Worktypes">
        {% for worktype in worktypes %}
          {% if worktype != '' %}
          <option value="{{worktype}}">{{worktype}}</option>
          {% endif %}
        {% endfor %}
      </optgroup>
    </select>
    <button class="custom_button" style="float: right;">Search</button>
</div>
</form>

<div id="header_info"></div>
<div style="float: left; width: 20%; ">
  <div id="facets">
  </div>
</div>
<div style="float: left; width: 80%; display: none; border: 1px solid #ccc" class="all_results">
  <div id="search_results">
    <div id="searchInfo">
      <span id="number_results"></span>
      <span id="sort_by" class="dropdownsort"><label for="sortSelect">Sort By:</label>
        <select id="sortSelect" name="sort" onchange="changeSort(event);">
          <option value="">Relevance</option>
        </select>
      </span>
    </div>
  </div>
  <ul id="resultslist">
  </ul>
  <div id="pagination"></div>
</div>

<section id="search-results" style="display: none;"> </section>

 <script>
window.addEventListener("load", function(){
    loadsearchtemplate();
});
</script>

<script src="https://kam535.github.io/medieval-fragments/assets/javascript/custom-search.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://kam535.github.io/medieval-fragments/assets/custom-search.css">
 
</html>
