---
permalink: "/deep-search/"
---
<script src="https://kam535.github.io/medieval-fragments/assets/javascript/custom-search.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://kam535.github.io/medieval-fragments/assets/custom-search.css">

{% assign pid = site.medievalfragments | map: "pid" | compact %}
{% assign pids = pids | join: ','  | split: ','  | uniq | sort %}

{% assign label = site.medievalfragments | map: "label" | compact %}
{% assign labels = labels | join: ';'  | split: ';'  | uniq | sort %}
 
<form role="search">
<div class="search-control" style="display:none;">
    <input type="search" id="keyword-search" name="query"
           placeholder="Keyword Search"
           aria-label="Search works using keyword">
    <input type="search" id="pid-search" name="pid"
           placeholder="Search ID"
           aria-label="Search objects using ID">
    <select id="pidselect" name="pid"
      aria-label="Dropdown for pid">
        <option value="">All IDs</option>
        {% for pid in pids %}
          {% if pid != '' %}
          <option value="{{pid}}">{{pids}}</option>
          {% endif %}
        {% endfor %}
    </select>
    <select multiple="multiple" size="10" id="labelSelect" name="label"
      aria-label="label search">
      <optgroup label="Worktypes">
        {% for label in labels %}
          {% if label != '' %}
          <option value="{{label}}">{{label}}</option>
          {% endif %}
        {% endfor %}
      </optgroup>
    </select>
    <button class="custom_button" style="float: right;">Search</button>
</div>
</form>

<div id="header_info"></div>
<div style="float: left; width: 20%; ">
  <div id="facets">
  </div>
</div>
<div style="float: left; width: 80%; display: none; border: 1px solid #ccc" class="all_results">
  <div id="search_results">
    <div id="searchInfo">
      <span id="number_results"></span>
      <span id="sort_by" class="dropdownsort"><label for="sortSelect">Sort By:</label>
        <select id="sortSelect" name="sort" onchange="changeSort(event);">
          <option value="">Relevance</option>
        </select>
      </span>
    </div>
  </div>
  <ul id="resultslist">
  </ul>
  <div id="pagination"></div>
</div>


<script>
window.addEventListener("load", function(){
    var dict = {facets: '#new_facet_field', pagination: '#paginationid', "results": ".results-class-override", settingsurl: "https://kam535.github.io/medieval-fragments/search/index.json"}
    loadsearchtemplate(dict);
    $('#spinner').hide();
});
</script>
 
